#include <windows.h>

1 24 "app.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     3,5,0,0
PRODUCTVERSION  3,5,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "Antigravity Horology Labs\0"
            VALUE "FileDescription",  "Micro-Timegrapher Studio Pro Horological Workstation\0"
            VALUE "FileVersion",      "3.5.0.0\0"
            VALUE "InternalName",     "MicroTimegrapherStudioPro\0"
            VALUE "LegalCopyright",   "Copyright (C) 2026 Antigravity Horology Labs. All Rights Reserved.\0"
            VALUE "OriginalFilename", "MicroTimegrapherPro.exe\0"
            VALUE "ProductName",      "Micro-Timegrapher Studio Pro\0"
            VALUE "ProductVersion",   "3.5.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
